* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--glitch-background: url("page2/panel-8.png");
	--glitch-background-2: url("page3/panel-4.png");
	--glitch-visible: 0%;
	--glitch-visible2: 0%;
}

body {
	overflow-x: hidden;
}

.canvas-pg-1 canvas {
	height: 408.5px;
}

.panel-0 canvas {
	height: 550px;
}

.canvas-panel-4 canvas {
	height: 820px;
}

.p2p8 canvas {
	height: 660px;
}

.p2p1 canvas {
	height: 447px;
}

.p2p2 canvas {
	height: 500px;
}

.p2p7 canvas {
	height: 375px;
}

.p3p2 canvas {
	height: 457px;
}

.p3p4 canvas {
	height: 820px;
}

.p4p1 canvas {
	height: 800px;
}

.p4p2 canvas {
	height: 1000px;
}

.sight {
	cursor: url("sight.png"), pointer;
}

.p2p5 canvas {
	height: 320px;
}

.p3p4 {
	position: relative;
	animation: glitch1 2.5s infinite;
}

.p3p4:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--glitch-background-2);
	background-size: var(--glitch-visible2);
	opacity: .2;
	mix-blend-mode: hard-light;
	animation: hueGlitch .2s linear infinite;
}

.p3p4:hover {
	--glitch-visible2: 100%;
}

.bubbles {
	position: absolute;
	z-index: 30;
}

.hover:hover {
	transform: scale(1.008);
}

.hover {
	transition: all 0.2s ease;
}

.page-gap {
	height: 300px;
}

.bg-dark {
	background-color: #293842;
}

main {
	transition: all 0.9s ease;
}

.p2p8 {
	position: relative;
	animation: glitch1 2.5s infinite;
}

.p2p8:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--glitch-background);
	background-size: var(--glitch-visible);
	opacity: .3;
	mix-blend-mode: hard-light;
	animation: hueGlitch .2s linear infinite;
}

.p2p8:hover {
	--glitch-visible: 100%;
}

@keyframes hueGlitch {
	0% {
		background-position: 0 0;
		filter: hue-rotate(0deg);
	}

	10% {
		background-position: 5px 0;
	}

	20% {
		background-position: -5px 0;
	}

	30% {
		background-position: 15px 0;
	}

	40% {
		background-position: 5px 0;
	}

	50% {
		background-position: -25px 0;
	}

	60% {
		background-position: -50px 0;
	}

	70% {
		background-position: 0 -20px;
	}

	80% {
		background-position: -60px -20px;
	}

	81% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 0;
		filter: hue-rotate(360deg);
	}
}

@keyframes glitch1 {
	0% {
		transform: none;
		opacity: 1;
	}

	7% {
		transform: skew(-0.5deg, -0.9deg);
		opacity: 0.75;
	}

	10% {
		transform: none;
		opacity: 1;
	}

	27% {
		transform: none;
		opacity: 1;
	}

	30% {
		transform: skew(0.8deg, -0.1deg);
		opacity: 0.75;
	}

	35% {
		transform: none;
		opacity: 1;
	}

	52% {
		transform: none;
		opacity: 1;
	}

	55% {
		transform: skew(-1deg, 0.2deg);
		opacity: 0.75;
	}

	50% {
		transform: none;
		opacity: 1;
	}

	72% {
		transform: none;
		opacity: 1;
	}

	75% {
		transform: skew(0.4deg, 1deg);
		opacity: 0.75;
	}

	80% {
		transform: none;
		opacity: 1;
	}

	100% {
		transform: none;
		opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
		transform: none;
		opacity: 0.25;
	}

	7% {
		transform: translate(-2px, -3px);
		opacity: 0.5;
	}

	10% {
		transform: none;
		opacity: 0.25;
	}

	27% {
		transform: none;
		opacity: 0.25;
	}

	30% {
		transform: translate(-5px, -2px);
		opacity: 0.5;
	}

	35% {
		transform: none;
		opacity: 0.25;
	}

	52% {
		transform: none;
		opacity: 0.25;
	}

	55% {
		transform: translate(-5px, -1px);
		opacity: 0.5;
	}

	50% {
		transform: none;
		opacity: 0.25;
	}

	72% {
		transform: none;
		opacity: 0.25;
	}

	75% {
		transform: translate(-2px, -6px);
		opacity: 0.5;
	}

	80% {
		transform: none;
		opacity: 0.25;
	}

	100% {
		transform: none;
		opacity: 0.25;
	}
}

@keyframes glitch3 {
	0% {
		transform: none;
		opacity: 0.25;
	}

	7% {
		transform: translate(2px, 3px);
		opacity: 0.5;
	}

	10% {
		transform: none;
		opacity: 0.25;
	}

	27% {
		transform: none;
		opacity: 0.25;
	}

	30% {
		transform: translate(5px, 2px);
		opacity: 0.5;
	}

	35% {
		transform: none;
		opacity: 0.25;
	}

	52% {
		transform: none;
		opacity: 0.25;
	}

	55% {
		transform: translate(5px, 1px);
		opacity: 0.5;
	}

	50% {
		transform: none;
		opacity: 0.25;
	}

	72% {
		transform: none;
		opacity: 0.25;
	}

	75% {
		transform: translate(2px, 6px);
		opacity: 0.5;
	}

	80% {
		transform: none;
		opacity: 0.25;
	}

	100% {
		transform: none;
		opacity: 0.25;
	}
}

.border-black {
	border: 1px solid black;
	transform: translateX(40px);
}